body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #ffa361 0%, #4c3c5c 60%, #0a0e20 100%);
}

.firefly {
  position: absolute;
  top: 50%;
  left: 50%;

  /* appearance */
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0 0 18px 20px black;

  /* animation */
  animation-name: glow, bounce-x, bounce-y;
  animation-duration: 6s, 15s, 12s;
  animation-delay: 2s, -3s, -4s;
  animation-iteration-count: infinite, infinite, infinite;
  animation-timing-function: ease, ease-in-out, ease-in-out;
}

/* animation keyframes for firefly glow */
@keyframes glow {
  0% {
    background-color: black;
    box-shadow: 0 0 10px 12px black;
  }
  25% {
    background-color: yellow;
    box-shadow: 0 0 20px 24px yellow;
  }
  35% {
    background-color: yellow;
    box-shadow: 0 0 20px 24px yellow;
  }
  60% {
    background-color: black;
    box-shadow: 0 0 10px 12px black;
  }
  100% {
    background-color: black;
    box-shadow: 0 0 10px 12px black;
  }
}

@keyframes bounce-x {
  0% {
    left: 0;
  }
  50% {
    left: calc(100vw - 0.5em);
  }
  100% {
    left: 0;
  }
}

@keyframes bounce-y {
  0% {
    top: 0;
  }
  50% {
    top: calc(100vh - 0.5em);
  }
  100% {
    top: 0;
  }
}
