html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  font-size: 96px;
  text-align: center;

  /* center the contents */
  display: flex;
  justify-content: center;
  align-items: center;
  
}
